[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-cors-headers = "*"
joblib = "*"
pandas = "*"
pymupdf = "*"
sklearn = "*"
requests-toolbelt = "*"
tqdm = "*"
tensorflow = "*"
nltk = "*"
transformers = "*"
tweepy = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.10"
