.can .wel{
    text-align: left;
    margin: 2%;
}
.can .wel b{
    color: #4540DB;
}
.can .card{
    margin-bottom: 2%;
}
.can .card .card-header{
    color: #4540DB;
    background-color: #fff;
    font-weight: 800;
}
.can .card .card-body select{
    background-color: #4540DB;
    color: #fff;
    padding: 0.3%;
    border-radius: 5px;
}
.can .card .card-body label{
    margin-left: 0.5%;
    color: #4540DB;
    font-weight: 600;
}
.can input[type="button"]{
    background: #4540DB;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px;
    width: 100%;
    margin-bottom: 8%;
}
.can #op1, #op2, #op3, #op4, #opr{
    margin-bottom: 1%;
}