nav{
    height: 65px;
}
nav .container-fluid a b{
    color:#4540db;
}
form .btn{
    color:#fff;
    background-color: #4540db;
}
nav .container-fluid #navbarTogglerDemo02 ul li{
    text-align: center;
}