.jumbotron .container{
    float: left;
    align-items:center;
    margin:6%;
    text-align: center;
}
.jumbotron .container h1 b{
    color:#4540db;
    font-weight: 600;
}

.jumbotron .container h4{
    font-weight: 600;
    text-align: justify;
    margin-bottom: 1%;
}
.jumbotron .container .btn{
    float: left;
    text-align: justify;
    color:#fff;
    background-color: #4540db;
    margin:0.5%;
}
.custom-shape-divider-bottom-1645956565 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645956565 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 41px;
}

.custom-shape-divider-bottom-1645956565 .shape-fill {
    fill: #4540db;
}
